@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html { font-size: 67.5%; }

h1 {
	font-family: "Open Sans";
	font-weight: 300;
	color: #ED5565;
}

h2 {
	font-family: "Open Sans Condensed";
	font-weight: 300;
	color: #AAB2BD;
}

.landing-page .title {
	font-size: 5rem;
	text-align: center;
	margin-top: 3.75rem;
}

.landing-page .subtitle {
	font-size: 3rem;
	text-align: center;
	margin-top: -2rem;
}

.landing-page .center-btns {
	margin-top: 6rem;
	text-align: center;
}

.landing-page a.btn {
	font-family: "Press Start 2P";
	font-weight: 300;
	font-size: 1.3125rem;
	background-color: #ED5565;
	color: white;
	padding: 1.125rem 1.5rem;
	border-radius: 3px;
	text-decoration: none;
}

.pokemon-page h1.header {
	font-size: 2.5rem;
	margin-top: 20px;
}

.pokemon-page .content {
	margin-top: 120px;
}

.pokemon-page .content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pokemon-page h3 {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 2.5rem;
	color: black;
	text-align: center;
}

.pokemon-page table {
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 1.5rem;
}

.pokemon-page table td:nth-child(2n) {
	color: #ED5565;
}

.arrow i {
	color: black;
}
