@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html { font-size: 67.5% ;}

h1 {
	font-family: "Open Sans";
	font-weight: 300;
	color: #ED5565;
}

h2 {
	font-family: "Open Sans Condensed";
	font-weight: 300;
	color: #AAB2BD;
}

.landing-page .title {
	font-size: 6rem;
	text-align: center;
	margin-top: 3.75rem;
}

.landing-page .subtitle {
	font-size: 3rem;
	text-align: center;
	margin-top: -3.75rem;
}

.landing-page .center-btns {
	margin-top: 6rem;
	text-align: center;
}

.landing-page a.btn {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 1.3125rem;
	background-color: #ED5565;
	color: white;
	padding: 1.125rem 1.5rem;
	border-radius: 3px;
	text-decoration: none;
}