<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Pokedex</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/normalize.min.css">
		<link rel="stylesheet" href="css/skeleton.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<article id="PokedexApp">
		</article>

		<script src="./bower_components/jquery/dist/jquery.min.js"></script>
		<script src="./bower_components/lodash/lodash.min.js"></script>
		<script src="./bower_components/backbone/backbone.js"></script>

		<script type="text/template" id="main-template">
			<div class="landing-page">
				<h1 class="title">Pokedex</h1>
				<h2 class="subtitle">You haven't caught them all, yet?</h2>
				<div class="center-btns">
					<a href="#/pokemon/1" class="btn">Enter</a>
				</div>
			</div>
		</script>

		<script type="text/template" id="pokemon-template">
			<div class="pokemon-page container">
				<h1 class="header">Pokedex</h1>
				<div class="content row">
					<div class="four columns offset-by-two">
						<img src="http://pokeapi.co/media/img/<%= id %>.png">
						<h3 class="name"><%= name %></h3>
						<div class="center-btns">
							<% if (id - 1 > 0) { %>
								<a href="#/pokemon/<%= id - 1 %>" class="btn">Previous</a>
							<% } %>
							<% if (id + 1 < 785) { %>
								<a href="#/pokemon/<%= id + 1 %>" class="btn">Next</a>
							<% } %>
						</div>
					</div>
					<div class="four columns">
						<table class="u-full-width">
							<tbody>
								<tr>
									<td>ID</td>
									<td><%= id %></td>
								</tr>
								<tr>
									<td>Name</td>
									<td><%= name %></td>
								</tr>
								<tr>
									<td>Height (m)</td>
									<td><%= height / 10 %></td>
								</tr>
								<tr>
									<td>Weight (kg)</td>
									<td><%= weight / 10 %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</script>

		<script src="./js/main.js"></script>
	</body>
</html>
